<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  https://www.springframework.org/schema/beans/spring-context.xsd">

	<bean class="org.pritam.springcore.Address" id="address" p:city="Kolkata" p:country="India"/>

	<bean class="org.pritam.springcore.Student" id="student" p:id="20" p:firstName="Aditya" p:lastName="Ghosh" p:address-ref="address"/>
</beans>