<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  https://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/util
  https://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan
		base-package="org.pritam.springcore" />

	<util:list id="list">
		<value>10</value>
		<value>20</value>
		<value>30</value>
	</util:list>

	<util:set id="set">
		<value>10</value>
		<value>20</value>
		<value>30</value>
	</util:set>

	<util:map id="map">
		<entry key="1" value="Pritam" />
		<entry key="2" value="Aditya" />
		<entry key="3" value="Gunjan" />
	</util:map>

	<util:properties id="properties">
		<prop key="1">One</prop>
		<prop key="2">Two</prop>
		<prop key="3">Three</prop>
	</util:properties>

	<bean class="org.pritam.springcore.ModelA" p:list-ref="list">
		<property name="set" ref="set" />
		<property name="map">
			<ref bean="map"/>
		</property>
		<property name="properties">
			<ref bean="properties"/>
		</property>
	</bean>

</beans>