<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  https://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/util
  https://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan
		base-package="org.pritam.springcore" />

	<bean class="org.pritam.springcore.ModelA" p:modelC="#{new org.pritam.springcore.ModelC(101,201)}" name="modelA1"/>
	
	<bean class="org.pritam.springcore.ModelA" name="modelA2">
		<property name="modelC" value="#{new org.pritam.springcore.ModelC(102,202)}"/>
	</bean>
	
	<bean class="org.pritam.springcore.ModelA" name="modelA3">
		<property name="modelC">
			<value>#{new org.pritam.springcore.ModelC(103,203)}</value>
		</property>
	</bean>

</beans>